/* Importing two fonts from Google Fonts: 'Righteous' and 'Rubik' */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

/* Setting default styles for all elements, including font, padding, and margin */
* {
    padding: 0px;
    margin: 0px;
    font-family: "Rubik";
}

/* Defining the background color for the body of the document */
body {
    background-color: #f6f6f6;
}

/* Styling the header element */
header {
    display: flex;
    align-items: center;
    height: 48px;
}

/* Styling the h1 element inside the header */
header > h1 {
    font-family: 'Righteous';
    font-size: 20px;
    font-weight: 400;
    margin-left: 6px;
}

/* Styling the img element inside the header */
header > img {
    width: 30px;
    height: 30px;
    margin-left: 16px;
}

/* Styling the nav element inside the header */
header > nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

/* Styling the div element inside the nav */
header > nav > div {
    display: flex;
    align-items: center;
}

/* Styling the a element inside the nav */
header > nav a {
    font-size: 14px;
    cursor: pointer;
    color: #535353;
    text-decoration: none;
    display: block;
    height: fit-content;
}

/* Defining hover effect for the a element inside the nav */
header > nav a:hover{
    color: black;
}

/* Styling the main section */
main {
    height: calc(100vh - 48px);
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    overflow: hidden;
}

/* Styling the #trees element */
#trees {
    height: 64px;
    width: calc(100%); 
}

/* Styling each section inside the main section */
main > section {
    width: 690px;
    height: 90%;
    background-color: #ffffff;
    box-shadow: 0px 4px 16px -2px rgba(0, 0, 0, 0.12);
}

/* Styling the .info-section */
.info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Styling each section */
section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; 
    height: 500px; 
    background: white;
    overflow: hidden; 
    box-shadow: 0px 4px 16px -2px rgba(0, 0, 0, 0.12);
    border-radius: 10px; 
    margin-top: 30px;
    padding: 23px;
    position: absolute;
    bottom: 35px;
}

/* Styling the #title_div inside the section */
section > #title_div {
    height: 60px;
    background-color: #1D1D1D;
    color: white; 
    padding: 10px; 
    box-sizing: border-box; 
}

/* Styling .labels-container */
.labels-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Styling .label */
.label {
    display: flex;
    align-items: center;
}

/* Styling p element inside .label */
.label p {
    margin-left: 5px; 
}

/* Styling .profile-label */
.profile-label {
    width: 15px;
    height: 15px;
    margin-left: 5px; 
}

/* Styling .button-container */
.button-container {
    position: absolute;
    top: 300px; 
    bottom: 0;
    left: 23px;
    right: 23px;
    padding: 20px; 
    overflow-y: auto;
}

/* Styling the last .user-button child of .button-container */
.button-container > .user-button:last-child {
    margin-bottom: 300px; 
}

/* Styling the .button-container inside section */
section > .button-container {
    overflow-y: scroll; 
    height: calc(100% - 65px); 
}

/* Styling the .user-button inside .button-container */
section > .button-container > .user-button {
    width: 100%;
    height: 33px;
    margin-bottom: 15px; 
}

/* Styling the #title_div */
#title_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    background-color: #1D1D1D;
    color: white; 
    box-sizing: border-box; 
    font-family: 'Rubik'; 
    font-size: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100%); 
}

/* Styling .search-container inside #title_div */
#title_div > .search-container {
    display: flex;
    align-items: center;
    font-family: 'Rubik'; 
    font-size: 15px;
    width: 100%; 
}

/* Styling #search inside .search-container */
#title_div > .search-container > #search {
    height: 18px;
    border-radius: 5px; 
    margin-left: 10px; 
    background: transparent; 
    border: 1px solid white;
    flex-grow: 1; 
    margin-right: 5px;
}

/* Styling #results inside .search-container */
#title_div > .search-container > #results {
    margin-left: 10px; 
}

/* Styling .user-button */
.user-button {
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;  
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: 1px solid #E7E7E7;
    font-family: 'Rubik';
    font-size: 15px;
    border-radius:7px;
    padding: 0 10px;  
    width: 100%;  
}

/* Defining hover effect for .user-button */
.user-button:hover {
    background:
    linear-gradient(90.71deg, #FF7541 0%, #E04C13 100%);
    color: white;
}

/* Styling .label-container */
.label-container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 20px;
}

/* Styling .user-info */
.user-info {
    display: flex;
    align-items: center;  
    justify-content: space-between;
    width: calc(100% - 50px); 
}

/* Styling .profile-picture */
.profile-picture {
    width: 25px; 
    height: 25px;
    margin-right: 1px;
    object-fit: cover;
}

/* Styling p element inside .user-info */
.user-info p {
    margin: 0 10px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

/* Styling .name */
.name {
    display: flex;
    align-items: center;
}

/* Defining hover effect for .profile-picture inside .user-button */
.user-button:hover .profile-picture {
    content: url("profile3.png");
}

/* Styling .user-profile */
.user-profile {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

/* Styling .profile-picture */
.profile-picture {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

/* Styling h3 element inside .user-details */
.user-details h3 {
    font-size: 18px;
    color: #000;
    margin-bottom: 5px;
}

/* Styling p element inside .user-details */
.user-details p {
    font-size: 14px;
    color: #000;
    margin-bottom: 2px;
}

/* Styling .line_1 */
.line_1 {
    height: 2px;
    background-color: #e7e7e7;
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

/* Styling .protocol-text */
.protocol-text {
    text-align: center; 
    margin-top: 20px; 
    font-size: 17px; 
}

/* Styling .background-image */
.background-image {
    width: 20px;
    height: 20px;
}

/* Styling .text-right */
.text-right {
    color: white;
    font-size: 17px;
}

/* Styling p element inside .label-name */
.label-name p {
    margin-left: 75px;
}

/* Styling p element inside .label-status */
.label-status p {
    margin-left: 90px;
}