/* Importing two fonts from Google Fonts: 'Righteous' and 'Rubik' */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

/* Default styles for all elements */
* {
    padding: 0px;
    margin: 0px;
    font-family: "Rubik";
}

/* Body styles */
body {
    background-color: #f6f6f6;
}

/* Header styles */
header {
    display: flex;
    align-items: center;
    height: 48px;
}

/* H1 tag within header styles */
header > h1 {
    font-family: 'Righteous';
    font-size: 20px;
    font-weight: 400;
    margin-left: 6px;
}

/* Image within header styles */
header > img {
    width: 30px;
    height: 30px;
    margin-left: 16px;
}

/* Nav within header styles */
header > nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

/* Div within nav styles */
header > nav > div {
    display: flex;
    align-items: center;
}

/* Anchor tag within header styles */
header > nav a {
    font-size: 14px;
    cursor: pointer;
    color: #535353;
    text-decoration: none;
    display: block;
    height: fit-content;
}

/* Anchor tag within header styles on hover */
header > nav a:hover{
    color: black;
}

/* Main styles */
main {
    height: calc(100vh - 48px);
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    overflow: hidden;
}

/* #trees styles */
#trees {
    height: 64px;
    width: calc(100%); 
}

/* Section within main styles */
main > section {
    width: 690px;
    height: 90%;
    background-color: #ffffff;
    box-shadow: 0px 4px 16px -2px rgba(0, 0, 0, 0.12);
}

/* .info-section styles */
.info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Section styles */
section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 500px;
    background: white;
    overflow: hidden;
    box-shadow: 0px 4px 16px -2px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    margin-top: 30px;
    padding: 23px;
    position: absolute;
    bottom: 35px;
}

/* #title_div within section styles */
section > #title_div {
    height: 60px;
    background-color: #1D1D1D;
    color: white;
    padding: 10px;
    box-sizing: border-box;
}

/* .labels-container styles */
.labels-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* .label styles */
.label {
    display: flex;
    align-items: center;
}

/* Paragraph within .label styles */
.label p {
    margin-left: 5px;
}

/* .profile-label styles */
.profile-label {
    width: 15px;
    height: 15px;
    margin-left: 5px;
}

/* .button-container styles */
.button-container {
    position: absolute;
    top: 85px;
    bottom: 0;
    left: 23px;
    right: 23px;
    padding: 20px;
    overflow-y: auto;
}

/* Last .user-button within .button-container styles */
.button-container > .user-button:last-child {
    margin-bottom: 70px;
}

/* .button-container within section styles */
section > .button-container {
    overflow-y: scroll;
    height: calc(100% - 65px);
}

/* .user-button within .button-container styles */
section > .button-container > .user-button {
    display: block;
    width: 100%;
    height: 56px;
    margin-bottom: 15px;
}

/* #title_div styles */
#title_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    background-color: #1D1D1D;
    color: white;
    box-sizing: border-box;
    font-family: 'Rubik';
    font-size: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100%);
}

/* .search-container styles */
.search-container {
    margin: 23px; 
    width: 100%;
}

/* .search-container within #title_div styles */
#title_div > .search-container {
    display: flex;
    align-items: center;
    font-family: 'Rubik';
    font-size: 15px;
    width: 100%;
    justify-content: space-between;
}

/* #search within .search-container styles */
#title_div > .search-container > #search {
    height: 18px;
    border-radius: 5px;
    margin-left: 10px;
    background: transparent;
    border: 1px solid white;
    flex-grow: 1;
    margin-right: 5px;
}

/* #results within .search-container styles */
#title_div > .search-container > #results {
    margin-left: 10px;
}

/* .user-button styles */
.user-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: 1px solid #E7E7E7;
    font-family: 'Rubik';
    font-size: 15px;
    padding:15px;
    border-radius:7px;
}

/* .user-button styles on hover */
.user-button:hover {
    background: linear-gradient(90.71deg, #FF7541 0%, #E04C13 100%);
    color: white;
}

/* .label-container styles */
.label-container {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    margin-top: 40px;
}

/* .label-second styles */
.label-second {
    margin-left: 60px;
}

/* .user-info styles */
.user-info {
    display: flex;
    align-items: center;  
    justify-content: space-between;
    width: calc(100% - 50px); 
}

/* .profile-picture styles */
.profile-picture {
    width: 25px; 
    height: 25px;
    margin-right: 1px;
    object-fit: cover;
}

/* Paragraph within .user-info styles */
.user-info p {
    margin: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .name styles */
.name {
    display: flex;
    align-items: center;
}

/* .searchInput styles */
.searchInput{
    color: seashell;
}