/* Importing two fonts from Google Fonts: 'Righteous' and 'Rubik' */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

/* Setting default font for all elements to 'Rubik' and default padding and margin to 0 */
* {
    padding: 0px;
    margin: 0px;
    font-family: "Rubik";
}

/* Setting body's background color to light gray */
body {
    background-color: #f6f6f6;
}

/* Displaying header as flex container with items aligned to center and height of 48px */
header {
    display: flex;
    align-items: center;
    height: 48px;
}

/* Setting h1 element's font family to 'Righteous', font size to 20px, font weight to 400 and left margin to 6px */
header > h1 {
    font-family: 'Righteous';
    font-size: 20px;
    font-weight: 400;
    margin-left: 6px;
}

/* Setting width and height of img element to 30px and left margin to 16px */
header > img {
    width: 30px;
    height: 30px;
    margin-left: 16px;
}

/* Displaying nav element as flex container with width of 100%, items justified with space around and aligned to center */
header > nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

/* Displaying div element as flex container with items aligned to center */
header > nav > div {
    display: flex;
    align-items: center;
}

/* Setting font size of a element to 14px, cursor to pointer, color to dark gray, text decoration to none, display to block and height to fit-content */
header > nav a {
    font-size: 14px;
    cursor: pointer;
    color: #535353;
    text-decoration: none;
    display: block;
    height: fit-content;
}

/* Setting color of a element on hover to black */
header > nav a:hover{
    color: black;
}

/* Setting width and height of img element within button element to 25px */
header > nav > button > img {
    width: 25px;
    height: 25px;
}
  
/* Displaying main element as flex container with items aligned to center and height of 100vh minus 48px */
main {
    display: flex;
    align-items: center;
    height: calc(100vh - 48px);
}

/* Setting background, outline and border of button element to none */
button {
    background: none;
    outline: none;
    border: none;
}

/* Displaying aside element as flex container with items in column direction, background color set to dark gray, height to 100% and width to 25% */
aside {
    display: flex;
    flex-direction: column;
    background-color: #1d1d1d;
    height: 100%;
    width: 25%;
}

/* Setting font weight of button element within aside element to 300, font size to 13px, color to light gray with low opacity, text aligned to start, cursor to pointer, height to 55px, left and right padding to 15px, display to flex and items aligned to center */
aside > button {
    font-weight: 300;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.35);
    text-align: start;
    cursor: pointer;
    height: 55px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
}

/* Setting left padding of element with class 'category' within aside element to 25px, height to 45px and adding slideDown animation */
aside > .category {
    padding-left: 25px;
    height: 45px;
    animation: slideDown 1s ease;
}

/* Setting color of button element within aside element on hover to light gray with higher opacity */
aside > button:hover {
    color: rgba(255, 255, 255, 0.75);
}

/* Setting top margin of first child button element within aside element to 14px */
aside > button:first-child {
    margin-top: 14px;
}

/* Setting width and height of img element within button element within aside element to 18px and left margin to auto */
aside > button > img {
    width: 18px;
    height: 18px;
    margin-left: auto;
}

/* Setting overflow of article element to auto and display as flex container with items in column direction */
article {
    overflow: auto;
    display: flex;
    flex-direction: column;
}

/* Setting left margin of label element to 22px, font weight to 400, font size to 13px, display to block, color to dark gray, width to 100px, min-width to max-content and top margin to 6px */
label {
    margin-left: 22px;
    font-weight: 400;
    font-size: 13px;
    display: block;
    color: #535353;
    width: 100px;
    min-width: max-content;
    margin-top: 6px;
}

/* Setting outline of input element to none, border to 1px solid light gray with border radius of 6px, height to 27px, left margin to 8px and width to 100% */
input {
    outline: none;
    border: 1px solid #e7e7e7;
    border-radius: 6px;
    height: 27px;
    margin-left: 8px;
    width: 100%;
    margin-right: 22px;
}

/* Setting outline of textarea element to none, border to 1px solid light gray with border radius of 6px, height to 68px, resize to none, width to 100%, left margin to 8px and right margin to 22px */
textarea {
    outline: none;
    border: 1px solid #e7e7e7;
    border-radius: 6px;
    height: 68px;
    resize: none;
    width: 100%;
    margin-left: 8px;
    margin-right: 22px;
}

/* Setting font weight of p element to 400, font size to 15px and color to light gray */
p {
    font-weight: 400;
    font-size: 15px;
    color: #9F9F9F;
    width: fit-content;
}

/* Displaying elements with id 'left_sec' and 'right_sec' as flex containers with items in column direction and height of calc(100vh -48px) */
#left_sec, #right_sec {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 48px);
    justify-content: center;
    width: 100%;
}

/* Aligning items in element with id 'left_sec' to end */
#left_sec {
    align-items: end;
}

/* Justifying items in element with id 'right_sec' with space between and setting height to 90%, aligning items to center and setting width to 95% */
#right_sec {
    justify-content: space-between;
    height: 90%;
    align-items: center;
    width: 95%;
}

/* Setting background color of section element within element with id 'left_sec' to white, adding box shadow, setting border radius to 7px, width to calc(100% - 25px), height to 90%, overflow to auto and display as flex container */
#left_sec > section {
    background-color: white;
    box-shadow: 0px 4px 16px -2px rgba(0, 0, 0, 0.12);
    border-radius: 7px;
    width: calc(100% - 25px);
    height: 90%;
    overflow: auto;
    display: flex;
}

/* Setting background color of section element within element with id 'right_sec' to white, adding box shadow, setting border radius to 7px, width to calc(100% - 50px), height to calc(50% -12.5px) and overflow to auto */
#right_sec > section {
    background-color: white;
    box-shadow: 0px 4px 16px -2px rgba(0, 0, 0, 0.12);
    border-radius: 7px;
    width: calc(100% - 50px);
    height: calc(50% - 12.5px);
    overflow: auto;
}

/* Setting position of element with id 'current_page' to relative and height to 48px */
#current_page {
    position: relative;
    height: 48px;
    width: fit-content;
}

/* Setting color of a element within element with id 'current_page' to white */
#current_page > a {
    color: rgb(255, 255, 255)
}

#orange_bg {
    position: absolute;
    background-color: #EB5E28;
    width: 170px;
    height: 100%;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
}

/* Setting position of element with id 'orange_bg' to absolute and background color to orange. Setting width to 170px and height to 100%. Setting own position to center */
#orange_bg {
    position: absolute;
    background-color: #EB5E28;
    width: 170px;
    height: 100%;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
}

/* Displaying element with id 'img_div' as flex container with items justified to center. Setting overflow to hidden, position to absolute, width to 100% and z-index to -1 */
#img_div {
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: -1;
}
/* Setting height of element with id 'trees' to 64px */
#trees {
    height: 64px;
}

/* Setting width of element with id 'articles_div' to 100% */
#articles_div {
    width: 100%;
}

/* Setting height of element with id 'new_protocol_article' to calc(50% - 1px) */
#new_protocol_article {
    height: calc(50% - 1px);
}

/* Displaying div element within element with id 'new_protocol_article' as flex container */
#new_protocol_article > div {
    display: flex;
}

/* Setting height of element with id 'categories_article' to calc(50% + 1px) */
#categories_article {
    height: calc(50% + 1px);
}

/* Setting height of element with class 'centralize' within element with id 'categories_article' to 100%, bottom margin to 13px and display as flex container with items justified to center and aligned to center */
#categories_article > .centralize {
    height: 100%;
    margin-bottom: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Setting bottom margin of elements with class 'label_div' to 20px */
.label_div {
    margin-bottom: 20px;
}

/* Setting bottom margin of last child element with class 'label_div' to 0px */
.label_div:last-child {
    margin-bottom: 0px;
}

/* Setting top margin of elements with class 'title_section' to 13px, left margin to 22px, font weight to 400, font size to 15px and color to light gray */
.title_section {
    margin-top: 13px;
    margin-left: 22px;
    font-weight: 400;
    font-size: 15px;
    color: #9F9F9F;
}

/* Setting height of elements with class 'line' to 1.5px, background color to light gray, width to calc(100% - 26px), left and right margin to auto and top and bottom margin to 13px */
.line {
    height: 1.5px;
    background-color: #e7e7e7;
    width: calc(100% - 26px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
    margin-bottom: 13px;
}

/* Setting width of element with id 'trees' to 100% for screens with minimum width of 1107px */
@media (min-width: 1107px) {
    #trees {
        width: 100%;
    }
}

/* Setting width of element with id 'orange_bg' to 110px and font size of button element within aside element to 9px for screens with maximum width of 989px */
@media (max-width: 989px) {
    #orange_bg {
        width: 110px;
    }

    aside > button {
        font-size: 9px;
    }

    aside > button > img {
        width: 11.5px;
        height: 11.5px;
    }
}

/* Adding slideDown animation */
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Setting font size of a element within nav element within header element to 11px, width and height of img element within button element within nav element within header element to 20px, height and width of img element within header element to 23px and left margin to 8px, font size of h1 element within header element to 20px for screens with maximum width of 728px */
@media (max-width: 728px) {
    header > nav a {
        font-size: 11px;
    }

    #orange_bg {
        width: 80px;
    }

    header > nav > button > img{
        width: 20px;
        height: 20px;
    }

    header > img {
        height: 23px;
        width: 23px;
    }

    header > h1 {
        font-size: 20px;
    }
}

/* Setting display of element with id 'trees' to none and width of element with id 'orange_bg' to 100% for screens with maximum width of 528px */
@media (max-width: 528px) {
    #trees {
        display: none;
    }
    
    #orange_bg {
        width: 100%;
    }

    #orange_bg {
        height: calc(100% - 35px);
        border-radius: 5px;
        width: calc(100% + 6px);
    }

    main {
        margin-top: -11px;
    }
}

/* Adjusting font sizes, image sizes and margins for header elements for screens with maximum width of 464px */
@media (max-width: 464px) {
    header > nav > a {
        font-size: 9px;
    }

    header > nav > button > img{
        width: 15px;
        height: 15px;
    }

    header > img {
        height: 19px;
        width: 19px;
        margin-left: 8px;
    }

    header > h1 {
        font-size: 16px;
        margin-left: 2px;
    }
}