@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    padding: 0;
    margin: 0;
} 

header {
    background-color: black;
    width: 100%;
    height: 49px;
    left: 0px;
    top: 0px;
    align-items: center;
    display: flex;
    padding-top: 10px;
}

#menu {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 16px;
    cursor: pointer;
}

#home_a {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 16px;
}

#bell {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#title_header {
    color: white;
    position: absolute;
    width: 92px;
    height: 26px;
    left: 57px;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}

#title {
    position: absolute;
    width: 305px;
    height: 31px;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    
    color: #000000;
}

#subtitle {
position: absolute;
width: 261px;
height: 20px;
left: 48.5%;
top: 35%;
transform: translate(-50%, -50%);

font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #000000;
}

#btn_1 {
    position: absolute;
    width: 317px;
    height: 136px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

background: #000000;
border-radius: 6px;
z-index: -1;
}

#title1_btn {
font-family: 'Righteous';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 31px;
color: white;
}

#text1_btn {
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;
}

#btn_2 {
    position: absolute;
    width: 317px;
    height: 136px;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);

background: #000000;
border-radius: 6px;
z-index: -1;
}

#title2_btn {
font-family: 'Righteous';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 31px;
color: #FFFFFF;
}

#text2_btn {
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
}