/* Imports the fonts used on the page */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

/* Defines new settings for page inputs */
input { 
    outline: 0;
    border: 0;
    height: 16px;
    width: 100%;
}

/* Defines the height of the first input */
#input1 {
    margin-top: 1.5px;
}

/* Defines the height of the second input */
#input2 {
    margin-top: 4px;
}

/* Defines the location of the field */
#forget_password {
    margin-left: auto;
    margin-right: 1px;
}

/* Defines the appearance of input instructions */
input::placeholder {
    font-family: 'Rubik';
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    color: #939393;
}

/* Defines the appearance of the header */
header {
    background-color: black;
    width: 100%;
    height: 49px;
    left: 0px;
    top: 0px;
    align-items: center;
    display: flex;
}

/* Defines the position of the menu */
#menu {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 16px;
    cursor: pointer;
}

/* Defines the position of the home */
#home_a {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 16px;
}

/* Defines the size of the icon menu */
#home {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

/* Defines the position and the style of the name "Protocom"*/
#title_header {
    color: white;
    position: absolute;
    width: 92px;
    height: 26px;
    left: 57px;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}

/* Defines the position of the waves image */
#waves { 
    width: 100%;
    height: 195px;
}

/* Defines the size of the logo */
#logo {
    position: absolute;
    width: 55px;
    height: 55px;
}

/* Defines the size and position of the set of logos */
#logos {
    position: relative;
    width: 55px;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    cursor: pointer;
}

/* Defines the size of the logo Tukumã */
#logo_tukuma {
    position: absolute;
    opacity: 0;
    width: 55px;
    height: 55px;
    transition: opacity 0.2s ease-in-out;
}

/* Allows the transition of logo colors */
#logos:hover #logo_tukuma {
    opacity: 1;
}

/* Allows the transition of logo colors */
#logos:hover #logo {
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
}

/* Defines the position and the style of the name "Entrar"*/
#title_logo {
    width: 122px;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

/* Centralize login information */
.center_info {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

/* Centers all information below the header */
#center_all {
    display: flex;
    align-items: center;
    height: calc(100vh - 195px - 80px);
}

/* Centralize email input */
.center_email {
    display: flex;
}

/* Centralize password input */
.center_password {
    display: flex;
}

/* Defines the position and the style of the name "Email"*/
#email {
    width: 33px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #000000;
    margin-left: 10px;
    margin-bottom: 10px;;
}

/* Defines the position and the style of the name "Password" */
#password {
    margin-bottom: 12.5px;
    margin-left: 10px;
    width: 39px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #000000;
}

/* Defines the position and size of the email and password icons */
#email_icon, #password_icon {
    width: 17px;
    height: 17px;
    margin-right: 4.5px;
    margin-left: 16px;
}

/* Defines the position and the style of the name "Esqueci a senha" */
#forget_password {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    color: #939393;
}

/* Sets the highlight color when hovering over the "Esqueci a senha" field */
#forget_password:hover {
    color: #000000;
}

/* Defines the size, appereance and position of the button "Entrar" */
#sign_in {
    background-color: #0E4936;
    color: white;
    width: 251px;
    height: 33px;
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Rubik';
    font-weight: 300;
    font-size: 17px;
    font-style: normal;
    margin-top: 29px;
    transition: 0.2s;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Sets the highlight color when hovering over the "Entrar" button */
#sign_in:hover {
    background-color: #EB5E28;
}

/* Delete the anchor's default appearance */
a {
    width: fit-content;
    display: block;
    text-decoration: none;
}

/* Defines the size, appereance and position of the button "Cadastrar" */
#sign_up {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #0E4936;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    transition: 0.2s;
}

/* Sets the highlight color when hovering over the "Cadastrar" button */
#sign_up:hover {
    color: #EB5E28;
}

/* Make the image invisible */
#trees {
    display: none;
}

/* Defines the position and the style of the lines */
.line {
    width: 100%;
    height: 1px;
    background-color: #939393;
}

/* Defines the size of the line1 */
#line1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Defines the size of the line2 */
#line2 {
    margin-top: 12.5px;
    margin-bottom: 17px;
}

/*Allows the page to be responsive */
@media (min-width: 700px) {
    #waves {
        display: none;
    }

    #trees {
        display: inline;
        width: 100%;
    }

    .center_info {
        width: 370px;
    }

    #center_all {
        height: 79vh;
    }

    #sign_in {
        width: 100%;
    }

}
