@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');


input { 
    outline: 0;
    border: 0;
    height: 16px;
    width: 100%;
}

#input1 {
    margin-top: 1.5px;
}

#input2 {
    margin-top: 4px;
}

#forget_password {
    margin-left: auto;
    margin-right: 1px;
}

input::placeholder {
    font-family: 'Rubik';
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    color: #939393;
}

header {
    background-color: black;
    width: 100%;
    height: 49px;
    left: 0px;
    top: 0px;
    align-items: center;
    display: flex;
}

#menu {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 16px;
    cursor: pointer;
}

#home_a {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 16px;
}

#home {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#title_header {
    color: white;
    position: absolute;
    width: 92px;
    height: 26px;
    left: 57px;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}

#waves {
    width: 100%;
    height: 70px;
}

#logo {
    position: absolute;
    width: 55px;
    height: 55px;
}

#logos {
    position: relative;
    width: 55px;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    cursor: pointer;
}

#logo_tukuma {
    position: absolute;
    opacity: 0;
    width: 55px;
    height: 55px;
    transition: opacity 0.2s ease-in-out;
}

#logos:hover #logo_tukuma {
    opacity: 1;
}

#logos:hover #logo {
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
}

#title_logo {
    width: 122px;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.center_info {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#center_all {
    display: flex;
    align-items: center;
    height: 80vh;
}

.center_email {
    display: flex;
}

.center_password {
    display: flex;
}

#options {
    position: absolute;
    width: 100%;
    height: 32%;
    bottom: 0px;
    background: #0E4936;
    border-radius: 25px 25px 0px 0px;
}

#email {
    width: 33px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #000000;
    margin-left: 10px;
    margin-bottom: 10px;;
}

#password {
    margin-bottom: 12.5px;
    margin-left: 10px;
    width: 39px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #000000;
}

#email_icon, #password_icon {
    width: 17px;
    height: 17px;
    margin-right: 4.5px;
    margin-left: 16px;
}

#forget_password {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    color: #939393;
}

#forget_password:hover {
    color: #000000;
}

#sign_in {
    background-color: #0E4936;
    color: white;
    width: 251px;
    height: 33px;
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Rubik';
    font-weight: 300;
    font-size: 17px;
    font-style: normal;
    margin-top: 29px;
    transition: 0.2s;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sign_in:hover {
    background-color: #EB5E28;
}

a {
    width: fit-content;
    display: block;
    text-decoration: none;
}

#sign_up {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #0E4936;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    transition: 0.2s;
}

#sign_up:hover {
    color: #EB5E28;
}

#trees {
    display: none;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #939393;
}

#line1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#line2 {
    margin-top: 12.5px;
    margin-bottom: 17px;
}

@media (min-width: 700px) {
    #waves {
        display: none;
    }

    #trees {
        display: inline;
        width: 100%;
    }

    .center_info {
        width: 370px;
    }

    #sign_in {
        width: 100%;
    }

}