@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    padding: 0;
    margin: 0;
}
/*definicao de altura da barra de navegação*/
nav{
    height: 60px;
}

/* define as propriedades dos itens na barra de navegação*/
nav ul li {
  
    display: inline-block;
    margin-right: 80px;
    margin-left: 30px;
    margin-top: 18px;
  }
/*define a altura do cabeçario*/
header {
    height: 50px;
}

/*define o endereço da imagem que se comporta como uma faixa no background*/
.imgfundo{
    background-image: url(images/bg_faixa.jpg);
    height: 80px; 
}

/* define uma grid e os parametros do container*/
container {
    display: grid;
    margin-top:60px;
    margin-left: 30px;
    margin-right: 30px;
    grid-template-columns: 1fr 1fr; /* Define três colunas com largura igual */
    grid-template-rows: 36vh 36vh; /* Define duas linhas com alturas específicas */
    grid-gap: 30px; /* Define o espaçamento entre as células da grid */
    grid-template-areas:/* Define o posicionamento entre as células da grid*/
    "a b"
    "a c";
  }

/* define a margem acima da barra de navegação lateral*/
.navlateral ul li{
  margin-top:5vh;
}

/* define as propriedades de tamanho e posicionamento da interface de criação do protocolo*/
.criarproto{
  width: 100vh;
  height: 100px;
  position: absolute;
  top: 22vh;
  left: 25vh;
}
/* define as propriedades de tamanho e posicionamento da interface de seleção dos destinatários*/
.destino{
  width: 100vh;
  height: 100px;
  position: absolute;
  margin-top: 3vh;  
  margin-left: 5vh;
}
/* define as propriedades de tamanho e posicionamento da interface de protocolos e destinatários predefinidos*/
.predef{
  width: 100vh;
  height: 100px;
  position: absolute;
  top: 22vh;
  margin-left: 5vh;
}
/*define a cor para os blocos participantes da grid*/
.item {
    background-color: #E7E7E7;
    overflow: hidden;
    border-radius: 10px;
  }

/*define a area da grid para o primeiro item*/
.item:nth-child(1) {
    grid-area: a;
  }
  
/*define a area da grid para o segundo item*/
.item2 {
    grid-area: b;
  }
  
/*define a area da grid para o terceiro item*/
.item3 {
    grid-area: c;
  }
/*define a altura da imagem no background*/
.background{
    height: 10vh;
}
/*define a cor e o tamanho do menu de navegação lateral*/
.menulateral{
    background-color: #03110C;
    height: 100vh;
    width: 18vh;
}
/*define a cor do body*/
body{
  background-color: #f6f6f6;
}
/*define uma margem para a caixa de opções*/
select{
  margin-left: 15vh;
}

/* define as margens e a largura do campo de checkbox*/
fieldset{
  margin-top: -8vh;
  margin-left: 53vh;
  width: 25vh;
  
}

.notificacao{
  width: 4vh;
  height: 4vh;
}
