/* Imports the fonts used on the page */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

/* Set margins and paddings to 0px on all elements */
* {
    padding: 0;
    margin: 0;
    font-family: 'Rubik';
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #ffffff;
    height: 49px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
    width: 100%; 
}

.header-button-container {
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

.header-button {
    padding: 15px 16px; 
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 1px 1px;
    cursor: pointer;
    border-radius: 5px;
}

.header-logo,
.header-button,
.header-img-button {
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 1px 1px;
    cursor: pointer;
    border-radius: 5px;
}

.header-logo {
    width: 30px;
    height: 30px;
    padding-right: 0;
    margin-right: 0;
}

.header-info {
    width: 25px;
    height: 25px;
}

h2 {
    padding-left: 0;
    margin-left: 0;
    margin-right: auto;
}

.header-button {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border: none;
    text-decoration: none;
}

.header-button:hover, 
.header-img-button:hover {
    background-color: #EB5E28;
}

.imgfundo {
    width: 100%;
    height: 74px;
    background-image: url('images/trees.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    width: 537px;
    max-width: 100%; 
    height: 75vh; 
    overflow: auto; 
    background-color: #FFFFFF;
    border-radius: 7px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
    margin: -3vh auto; 
    padding: 20px; 
}

/* Defines the size and cursor to the label of the input */
label {
    font-size: 13px;
    cursor: pointer;
}

/* Defines the appearance of the options (circle) */
input[type='radio'] {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #000000;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 4px;
}

/* Defines the appearance of the options (circle) */
input[type='radio']:before {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    background-color: #0E4936;
    border-color: #0E4936;
    border-radius: 50%;
    opacity: 0;
}

/* Defines the opacity to 1 of the options (circle) when it's checked */
input[type='radio']:checked:before {
    opacity: 1;
}

/* Defines the display of the options */
#option1_div, #option2_div {
    display: flex;
    align-items: center;
}

/* Defines the position and the style of the name "Protocom"*/
#title_header {
    color: white;
    position: absolute;
    width: 92px;
    height: 26px;
    left: 57px;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}

/* Centralize login information */
.center_info {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

/* Centers all information below the header */
#center_all {
    display: flex;
    align-items: center;
    height: calc(100vh - 49px);
}

/* Centralize email input */
.center_email {
    display: flex;
}

/* Centralize password input */
.center_password {
    display: flex;
}

/* Centralize name input */
.center_name {
    display: flex;
}

/* Centralize plantation input */
.center_plantation {
    display: flex;
}

/* Centralize the options (circles) */
#center_options {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Defines the position and the style of the name "Name"*/
#name {
    width: fit-content;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #000000;
    margin-left: 10px;
    margin-bottom: 10px;
}

/* Defines the position and the style of the name "Profile"*/
#profile {
    width: fit-content;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #000000;
    margin-left: 10px;
    margin-bottom: 10px;
}

/* Defines the position and the style of the name "Email"*/
#email {
    width: 33px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #000000;
    margin-left: 10px;
    margin-bottom: 10px;
}

/* Defines the position and the style of the name "Password"*/
#password {
    margin-bottom: 1.5px;
    margin-left: 10px;
    width: 39px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #000000;
}

/* Defines the position and the style of the name "Plantation"*/
#plantation {
    width: fit-content;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #000000;
    margin-left: 10px;
    margin-bottom: 10px;
}

#telefone {
    width: fit-content;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #000000;
    margin-left: 10px;
    margin-bottom: 10px;
}

/* Defines the position and size of the icons */
#email_icon, #password_icon, #plant_icon, #profile_icon {
    width: 17px;
    height: 17px;
    margin-right: 6px;
    margin-left: 16px;
}

/* Defines the position and the style of the lines */
.line {
    width: 100%;
    height: 1.5px;
    background-color: #939393;
    margin-top: 12px;
    margin-bottom: 12px;
}

/* Defines the position and the style of the name "Cadastrar um estrativista"*/
#title_logo {
    width: fit-content;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

/* Defines the appearance of input instructions */
input { 
    outline: 0;
    border: 0;
    height: 16px;
    width: 100%;
}

/* Defines the size, appereance and position of the button "Já tem uma conta? Entre aqui" */
#sign_up {
    background-color: #0E4936;
    color: white;
    width: 251px;
    height: 33px;
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Rubik';
    font-weight: 300;
    font-size: 17px;
    font-style: normal;
    margin-top: 29px;
    transition: 0.2s;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Sets the highlight color when hovering over the "Já tem uma conta? Entre aqui" button */
#sign_up:hover {
    background-color: #EB5E28;
}

/* Defines the size, appereance and position of the button "Registrar" */
#sign_in {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #0E4936;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    transition: 0.2s;
    border-color: blue;
}

/* Sets the highlight color when hovering over the "Registrar" button */
#sign_in:hover {
    color: #EB5E28;
}

/* Delete the anchor's default appearance */
a {
    width: fit-content;
    display: block;
    text-decoration: none;
}

/*Allows the page to be responsive */
@media (min-width: 700px) {
    .center_info {
        width: 370px;
    }

    #sign_up {
        width: 100%;
    }
}