/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

/* Resetting default styles for all elements */
* {
padding: 0;
margin: 0;
}

/* Centralizing the elements */
#center {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

/* Aligning the body */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f6f6f6;
}

/* Deleting background of input elements */
input {
background: none;
padding-left: 8px;
}

/* Resizing the logo element */
#logo {
width: 55px;
height: 55px;
}

/* Styling and resizing the logo for responsiveness */
#logo2 {
display: block;
margin-left: auto;
margin-right: auto;
width: 55px;
height: 55px;
}

/* Styling the title */
#title {
font-family: 'Righteous';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 50px;
color: #000000;
margin-left: 6px;
}

/* Styling the logo */
#logodiv {
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 20px;
}

/* Styling the main container */
#container {
display: flex;
justify-content: center;
align-items: center;
height: fit-content;
box-shadow: -2px 3px 4px 3px rgba(0, 0, 0, 0.26);
border-radius: 23px;
}

/* Styling the section for login */
#section1 {
background: #F6F6F6;
border-radius: 23px 0px 0px 23px;
width: 450px;
height: 400px;
display: flex;
align-items: center;
justify-content: center;
position: relative;
}

/* Styling the info part */
#info {
height: 20px;
position: absolute;
right: 18px;
top: 16px;
}

/* Styling the logo of the sign in part */
#title_logo {
right: 224px;
left: 208px;
top: 85px;
font-family: 'Righteous';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 37px;
width: fit-content;
color: #000000;
margin-left: auto;
margin-right: auto;
margin-bottom: 20px;
}

/* Styling the logo of the sign in part for responsiveness */
#title_logo2 {
right: 224px;
left: 208px;
top: 85px;
font-family: 'Righteous';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 37px;
width: fit-content;
color: #000000;
margin-left: auto;
margin-right: auto;
margin-bottom: 20px;
}

/* Aligning the container for data */
#container-data {
width: fit-content;
}

/* Aligning the container for data responsive */
#container-data2 {
display: none;
}

/* Styling for email input */
#email {
width: fit-content;
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
margin-left: 10px;
margin-bottom: 13px;
color: #000000;
}

/* Styling for email input responsive */
#email2 {
width: fit-content;
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
margin-left: 10px;
margin-bottom: 13px;
color: #000000;
}

/* Aligning for email elements */
#center_email {
display: flex;
width: fit-content;
margin-left: 17px;
margin-bottom: 13px;
align-items: end;
}

/* Aligning for email elements responsive */
#center_email2 {
display: flex;
width: fit-content;
margin-left: 17px;
align-items: end;
margin-bottom: 13px;
}

/* Styling the email icon */
#email_icon {
width: fit-content;
height: 19px;
}

/* Styling the email icon responsive */
#email_icon2 {
width: fit-content;
height: 19px;
}

/* Styling for input element */
#input1 {
font-family: 'Rubik';
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 15px;
color: black;
background-color: #F6F6F6;
margin-left: 5px;
width: fit-content;
}

/* Styling for input element */
#input1_2 {
font-family: 'Rubik';
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 15px;
color: black;
background-color: #F6F6F6;
margin-left: 5px;
width: fit-content;
}

/* Styling for line separator */
.line {
width: 100%;
height: 1px;
background-color: #939393;
}

/* Resizing for line separator */
#line1 {
width: 289px;
right: 125px;
left: 108px;
top: 219px;
}

/* Resizing for line separator */
#line2 {
width: 289px;
right: 125px;
left: 108px;
top: 308px;
margin-bottom: 10px;
}

/* Resizing for line separator responsive */
#line1_2 {
width: 289px;
right: 125px;
left: 108px;
top: 219px;
}

/* Resizing for line separator responsive */
#line2_2 {
width: 289px;
right: 125px;
left: 108px;
top: 308px;
margin-bottom: 10px;
}

/* Styling for password input */
#password {
width: fit-content;
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
margin-left: 13px;
margin-top: 13px;
margin-bottom: 13px;
color: #000000;
}

/* Styling for password input responsive */
#password2 {
width: fit-content;
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
margin-left: 13px;
margin-top: 13px;
margin-bottom: 13px;
color: #000000;
}

/* Aligning for password container */
#center_password {
display: flex;
width: fit-content;
margin-left: 17px;
margin-bottom: 13px;
align-items: end;
}

/* Aligning for password container responsive */
#center_password2 {
display: flex;
width: fit-content;
margin-left: 17px;
margin-bottom: 13px;
align-items: end;
}

/* Styling for password icon */
#password_icon {
width: fit-content;
height: 20px;
}

/* Styling for password icon responsive */
#password_icon2 {
width: fit-content;
height: 20px;
}

/* Styling for input */
#input2 {
font-family: 'Rubik';
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 15px;
color: black;
background-color: #F6F6F6;
margin-left: 5px;
}

/* Styling for input responsive */
#input2_2 {
font-family: 'Rubik';
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 15px;
color: black;
background-color: #F6F6F6;
margin-left: 5px;
}

/* Styling for see password icon */
#seepassword_icon {
height: 16px;
right: 132px;
left: 374px;
top: 274px;
margin-left: 6px;
cursor: pointer;
}

/* Styling for see password icon responsive */
#seepassword_icon2 {
height: 16px;
right: 132px;
left: 374px;
top: 274px;
margin-left: 6px;
}

/* Styling for input fields */
input {
outline: 0;
border: 0;
height: 16px;
width: 220px;
}

/* Styling for forget password element */
#forget_password {
width: fit-content;
font-family: 'Rubik';
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 15px;
margin-left: 190px;
margin-top: 10px;
color: #939393;
cursor: pointer;
}

#idEMail {
    margin-bottom: 1px;
}

#idSEnha {
    margin-bottom: -1.5px;
}

/* Styling for forget password element responsive */
#forget_password2 {
width: fit-content;
font-family: 'Rubik';
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 15px;
margin-left: 190px;
margin-top: 10px;
color: #939393;
cursor: pointer;
}

/* Styling for hover effect on forget password element */
#forget_password:hover {
color: #000000;
}

/* Styling for sign-in button */
#sign_in {
background: linear-gradient(90.98deg, #1F8C69 0%, #0E4936 100%);
color: white;
width: 290px;
height: 38px;
border-radius: 6px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: 'Rubik';
font-weight: 300;
font-size: 17px;
font-style: normal;
transition: 0.2s;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;
}

/* Styling for sign-in button responsive */
#sign_in2 {
background: linear-gradient(90.98deg, #1F8C69 0%, #0E4936 100%);
color: white;
width: 290px;
height: 38px;
border-radius: 6px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: 'Rubik';
font-weight: 300;
font-size: 17px;
font-style: normal;
transition: 0.2s;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;
}

/* Styling for hover effect on sign-in button */
#sign_in:hover {
background: linear-gradient(90.99deg, #FF7541 0%, #FD7540 0.01%, #E04C13 100%);
}

/* Styling for section informative */
#section2 {
background: linear-gradient(302.95deg, #0E4936 2.26%, #1F8C69 59.69%);
border-radius: 0px 23px 23px 0px;
width: 400px;
height: 400px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

/* Styling for title of informative section */
#title2 {
width: 197px;
font-family: 'Righteous';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 37px;
color: #F6F6F6;
margin-left: auto;
margin-right: auto;
margin-top: 113px;
margin-bottom: 20px;
}

/* Styling for description of informative section */
#description {
width: 227px;
height: 48px;
font-family: 'Rubik';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 24px;
text-align: center;
color: #FFFFFF;
margin-left: auto;
margin-right: auto;
}

/* Styling for trees image */
#trees {
width: 300px;
height: 199.98px;
mix-blend-mode: luminosity;
width: fit-content;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
}

/* Styling for green leaves image */
#green_leaves {
position: absolute;
width: 512px;
height: 512px;
top: 0px;
right: 0px;
z-index: -1;
}

/* Styling for orange leaves image */
#orange_leaves {
position: absolute;
width: 512px;
height: 512px;
bottom: 0;
left: 0;
z-index: -1;
}

/* Media query for screen widths up to 850px */
@media (max-width: 850px) {
    #section1 {
        width: 400px;
    }

    #section2 {
        width: 355.55px;
    }

}

/* Media query for screen widths up to 750px */
@media (max-width: 750px) {
    main {
        display: none;
    }

    #container-data2 {
        display: block;
    }

    #green_leaves, #orange_leaves {
        width: 240px;
        height: 240px;
    }
}